################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MotorControl
/MotorControl.Commons/bin/Debug/netcoreapp3.1
/MotorControl.Commons/obj
/MotorControl.Engineer/bin/Debug/netcoreapp3.1
/MotorControl.Engineer/obj
*.user
