################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MotorControl.Commons/bin
/MotorControl.Commons/obj
/MotorControl.Commons/.vs

/MotorControl.Engineer/bin
/MotorControl.Engineer/obj

/MotorControl.Technician/obj
/MotorControl.Technician/bin

*.user
/.idea/.idea.MotorControl
/MotorControlStyles
/MotorControlWinForms
/MotorControlWpfFramework
/WpfApplication1
/WpfApp1
/temp
/packages
/obj
/MotorControlWpf.zip
/FirmwareUpdatesViewModel.cs
/BundleOverrides.xaml
